

<body>
<div class="col-md-4">

<img class= "huge" src="http://media.giphy.com/media/Es3FISPjOZzAA/giphy.gif"/>
</div>
<div class="col-md-8">
<h1> <b> Your mind is blown!</b></h1>
</div>

</body>

<p><%= link_to("Site Map", "/sitemap")%></p>