<h1> This is the site map, click around </h1>
<div>
<a href="http://glacial-journey-5676.herokuapp.com/welcome/about_me">About Me Page</a>
</div>
<div>
<a href="http://glacial-journey-5676.herokuapp.com/welcome/index">The Index Page</a>
</div>