
 

<div class="center">



<form action="portfolio"> 

 <input type="submit" class="btn btn-default" id="red" name="category" value="Rails"/>
 <input type="submit" class="btn btn-default" id="blue" name="category" value="Ruby"/>
 <input type="submit" class="btn btn-default" id="green" name="category" value="All"/>

</form>
</div>
<div class="container">
<% @projects.each do |project| %>
	
	<row class="col-xs-4">
	<section class="description">
	<b><i>Project</i></b> #<%= project.name %><br>
	</section>
	ID: <%= project.id %><br>
	Description: <%= project.description %><br>
	Category: <%= project.category %><br>
	</row>

		
	
<% end %>
</div>
