<br><br><br><br><br><br><br><br><br><br>WELCOME TO PORTFOLIO
 

<div class="container">
<form action="portfolio">

 <input type="submit" name="category" value="Rails"/>
 <input type="submit" name="category" value="Ruby"/>
 <input type="submit" name="category" value="All"/>
</form>
<% @projects.each do |project| %>

	<div class="container">
	<div class="col-md-4">

<p>
	Project #<%= project.id %><br>
	Name: <%= project.name %><br>
	Description: <%= project.description %><br>
	Category: <%= project.category %><br>
	
		
	
	</p>
	</div>
	</div>
	<% end %>