
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";





/* Navbar */

.dropdown:hover .dropdown-menu {
    display: block; 
    
}


/* Body */



.container-fluid {
	margin-bottom: 50px;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
}


/* Images */

img.huge {
	margin-top: 100px;
	width: 100%;
}

/* Text */

h1 {
	color: red;
	font-size: 100px;
	margin: 100px;
}

div.white-text {
	color: #f8f8ff;
	font-size: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
