





<section id="redwood-background" data-type="background" data-speed="10" class="pages">   
		  
         <div class="section-parrallax">I am absolute positioned</div>
    
</section>  

<section id="white-background" data-type="background" data-speed="10" class="pages">   
		  
         <div class="section-parrallax">
          <div class="row">
         	<div class="col-md-8">
         	<div class="white-text">DOMINATE</p>
         	</div>
         </div>
         </div>
         </div>
    
</section>  
     
<section id="dancing-background" data-type="background" data-speed="10" class="pages">
         
         <div class="section-parrallax">Simple Parallax Scroll</div>

</section>

<section id="white-background" data-type="background" data-speed="10" class="pages">   
		  
         <div class="section-parrallax">I am absolute positioned</div>
    
</section> 

<section id="swimming-background" data-type="background" data-speed="10" class="pages">
		 
		 <div class="section-parrallax">Simple Parallax Scroll</div>

</section>

<section id="white-background" data-type="background" data-speed="10" class="pages">   
		  
         <div class="section-parrallax">I am absolute positioned</div>
    
</section> 





