





<section id="redwood-background" data-type="background" data-speed="10" class="pages">   
		  
         <div class="section-parrallax">I am absolute positioned</div>
    
</section>  

<section id="white-background" data-type="background" data-speed="10" class="pages">   
		  
         <div class="section-parrallax">I am absolute positioned</div>
    
</section>  
     
<section id="dancing-background" data-type="background" data-speed="10" class="pages">
         
         <div class="section-parrallax">Simple Parallax Scroll</div>

</section>

<section id="white-background" data-type="background" data-speed="10" class="pages">   
		  
         <div class="section-parrallax">I am absolute positioned</div>
    
</section> 

<section id="swimming-background" data-type="background" data-speed="10" class="pages">
		 
		 <div class="section-parrallax">Simple Parallax Scroll</div>

</section>






