<section id="home" data-type="background" data-speed="10" class="pages">     
         <div class="section-parrallax">I am absolute positioned</div>
    </section>   
     
<section id="about" data-type="background" data-speed="10" class="pages">
         <div class="section-parrallax">Simple Parallax Scroll</div>
</section>


