<div class="background-wood-image">
<div class="container">
	 <p><b>This is my very simple Pics-about-me page.</b></p>
	 <br>

<% @pictures.each do |pic| %> <!-- looping through arrays of URLs -->
<div class="row">
	<div class="col-md-12">
		
		<a href="<%= pic.name %>">  <!-- accessing variable pics -->
		<img class="huge" src="<%= pic.name %>">
		
		</a>
		<p>
		
		</p>
		

		<% end %> <!-- making sure we end our loop-->

</div>
</div>
<p><%=link_to("Back to Sitemap", "/sitemap")%></p>


</div>
</div>









