<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">

        
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        
         
          
        
      </ul>
      <a class="navbar-brand" href="#"><%= @first_visit %></a>
   

      
     

      </div>
</footer>
 
