<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Audion", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to("Welcome", "/welcome") %></li>
          <li><%= link_to("About Me", "/aboutme") %></li>
          
          <li><%= link_to("Sitemap", "/sitemap") %></li>
          
        </ul>
      </nav>
    </div>
  </div>
</header>